/* Start Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    /* ### Primary */

    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    
    /* ### Neutral */
    
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    
    /* ### Gradients */
    
    /* --
    --Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
    
    font-size: 16px;
}

body { /* 300, 400, 600 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* End Global */

/* Start Landing */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

main .landing-info {
    position: relative;
    padding-top: 3rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 610px
}

main .landing-info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100% + 61px);
    height: 100%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
}

main .landing-info > img {
    width: 158px;
    margin-bottom: 10rem;
}

main .landing-info h1 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--Dark-Grayish-Red);
    font-size: 5rem;
    letter-spacing: 1rem;
}

main .landing-info h1 .highlight {
    color: var(--Desaturated-Red);
    font-weight: 300;
}

main .landing-info p {
    color: var(--Desaturated-Red);
    line-height: 1.5;
    margin: 1rem 0 2rem;
}

main .landing-info .email-field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

main .landing-info .email-field input {
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--Desaturated-Red);
    border-width: 1px 0 1px 1px;
    border-radius: 2rem 0 0 2rem;
    color: var(--Desaturated-Red);
    font-weight: 300;
    background-color: transparent;
}

main .landing-info .email-field input.error {
    border-color: var(--Soft-Red)
}

main .landing-info .email-field .error-icon {
    position: absolute;
    top: 0;
    right: 70px;
    transform: translateY(50%);
    display: none;
}

main .landing-info .email-field button {
    position: absolute;
    top: -1px;
    right: 0;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100px;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%) 0, hsl(0, 74%, 74%) 100%);
    cursor: pointer;
    transition: all .3s ease;
}

main .landing-info .email-field button:hover,
main .landing-info .email-field button.active {
    background-image: linear-gradient(135deg, hsl(0, 80%, 100%) 0, hsl(0, 74%, 74%) 100%);
    box-shadow: 0 4px 8px #ccc;
}

main .landing-info .email-field .error-text {
    display: none;
    color: var(--Soft-Red);
    font-size: .9rem;
    padding: 1rem;
}

main .landing-info .email-field button img {
    width: 12px;
    height: 20px;
}

main .landing-image {
    width: 610px;
    background-image: url(images/hero-desktop.jpg);
    height: 800px;
}
/* End Landing */