/* Start Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {

    /* Brand */
    --brand-200: hsl(292, 16%, 49%);
    --brand-300: hsl(292, 42%, 14%);
    
    /* Natural */
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);

    font-size: 16px;
}

body { /* 400, 600, 700 */
    min-height: 100vh;
    background-color: var(--light-pink);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* End Global */

/* Start Main */
main {
    position: relative;
}

main .image-container img{
    width: 100%;
}

main .faq-container {
    position: absolute;
    left: 50%;
    top: 168px;
    border-radius: 1rem;
    padding: 2.5rem;
    background-color: var(--white);
    max-width: 600px;
    transform: translateX(-50%);
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 10%);
}

main .faq-container .heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5rem;
}

main .faq-container .heading-container > img {
    margin-right: 1.5rem;
}

main .faq-container .heading-container .faq-heading {
    color: var(--brand-300);
    font-weight: 700;
    font-size: 3.5rem;
}

main .faq-container .faq-question:not(:last-of-type) {
    margin-bottom: 3.5rem;
}

main .faq-container .faq-questions .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

main .faq-container .faq-questions .question .question-text {
    color: var(--brand-300);
    font-size: 18px;
    font-weight: 600;
    transition: color .3s ease;
}

main .faq-container .faq-questions .question:hover  .question-text{
    color: #B65FDA;
}

main .faq-container .faq-questions .answer {
    color: var(--brand-200);
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

main .faq-container .faq-questions .wrap {
    display: none;
}
/* End Main */

/* Start Media */
@media (max-width: 767px) {
    main .faq-container {
        min-width: 327px;
    }

    main .faq-container .faq-question:not(:last-of-type) {
        border-bottom: 1px solid var(--light-pink);
        padding-bottom: 1.75rem;
        margin-bottom: 1.75rem;
    }

    main .faq-container .faq-questions .question .question-text {
        font-size: 1rem;
    }

}
/* End Media */