/* Start Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    /* ### Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: rgb(56, 204, 140);
    
    /* ### Accent */
    --Blue: hsl(248, 32%, 49%);
    
    /* ### Neutral */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body { /* 400, 500, 600, 700 */
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: var(--Red);
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/bg-intro-desktop.png");
    z-index: -1;
}
/* End Global */

/* Start sign up */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 1107px;
    margin: 0 auto
}

main .sign-landing h1 {
    color: #fff;
    line-height: 1.1;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

main .sign-landing p {
    color: #fff;
    font-weight: 400;
    line-height: 1.6;
}

main .sign-up .free-try {
    background-color: var(--Blue);
    padding: 1rem;
    color: #fff;
    border-radius: .5rem;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 6px 1px rgba(0, 0, 0, 25%);
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

main .sign-up .free-try:hover {
    background-color: var(--Dark-Blue);
}

main .sign-up .free-try span {
    font-weight: 400;
}

main .sign-up form {
    width: 540px;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem
}

main .sign-up form input {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid var(--Grayish-Blue);
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}


main .sign-up form input::placeholder {
    font-weight: 600;
}

main .sign-up form input:focus {
    outline: none;
    border-color: var(--Dark-Blue);
}

main .sign-up form input[type='submit'] {
    background-color: var(--Green);
    box-shadow: 0px 6px 1px rgb(41, 174, 117);
    border: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

main .sign-up form input[type='submit']:hover {
    background-color: rgb(41, 174, 117);
}

main .sign-up form .terms {
    display: inline-block;
    margin: auto;
    width: 100%;
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
}

main .sign-up form .terms .text-highlight {
    font-weight: 600;
    color: var(--Red)
}
/* End sign up */