/* Start Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: 0;
}

:root {
    /* ### Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    
    /* ### Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    
    font-size: 16px;
}

body { /* 500 700 900 */
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* End Global */

/* Start Card */
/* End Card */