* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: #ecf2f8;
    
    font-size: 13px
}

body { /* 500 900*/
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    height: 280px;
    background-color: #fff;
    border-radius: 1rem;
}

main .image-container {
    width: 285px;
    height: 100%;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

main article {
    flex-basis: 405px;
    border-radius: 0 1rem 1rem 0;
    padding-right: 3rem;
}

main article .article-heading {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.7rem;
}

main article .article-info {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--Desaturated-Dark-Blue);
    line-height: 1.5;
}

main article .article-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main article .article-author .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

main article .article-author .left-side img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

main article .article-author .left-side .author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main article .article-author .left-side .author-info .bold-text {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.1rem;
}

main article .article-author .left-side .author-info .thin-text {
    color: var(--Grayish-Blue);
    margin-top: .2rem;
    font-size: 1rem;
}

main article .article-author .right-side {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-image: url(images/icon-share.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

main article .article-author .right-side.active,
main article .article-author .right-side:hover {
    background-color: var(--Desaturated-Dark-Blue);
    background-image: url(images/icon-share-light.svg);
}

main article .article-author .right-side .share-container {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 248px;
    height: 55px;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 1rem;
}

main article .article-author .right-side .share-container:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
    border-style: solid;
}

main article .article-author .right-side .share-container span {
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    font-size: 1.05rem;
    letter-spacing: .5rem;
}


